{% extends 'blog/base/base_blog.html' %}
{% load static %}
{% block title %}
    <title>Portfolio</title>
{% endblock %}

{% block blog_content %}

    <div>
        <label><img src="{% static 'blog/images/Prosenjit-Profile.jpg' %}" style="width: 250px;height: 350px" ></label>
        <label><h4><strong>This is Prosenjit Das from Bangladesh as a Researcher like Python Developing with Software Architecture
        and it's my profession & passion.</strong></h4></label>

        <div>

            <link href="{% static 'blog/css/social-icon.css' %}" rel="stylesheet">
            <div class="container">
       <div class="row">
        <br/><br/>
            <div class="col-md-12">

                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-behance"><i class="fa fa-behance"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-bitbucket"><i class="fa fa-bitbucket"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-codepen"><i class="fa fa-codepen"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-deviantart"><i class="fa fa-deviantart"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-digg"><i class="fa fa-digg"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-dropbox"><i class="fa fa-dropbox"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-flickr"><i class="fa fa-flickr"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-foursquare"><i class="fa fa-foursquare"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-github"><i class="fa fa-github-alt"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-instagram"><i class="fa fa-instagram"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-jsfiddle"><i class="fa fa-jsfiddle"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-lastfm"><i class="fa fa-lastfm"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-paypal"><i class="fa fa-paypal"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-pinterest"><i class="fa fa-pinterest"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-reddit"><i class="fa fa-reddit"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-skype"><i class="fa fa-skype"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-soundcloud"><i class="fa fa-soundcloud"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-steam"><i class="fa fa-steam"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-stumbleupon"><i class="fa fa-stumbleupon"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-trello"><i class="fa fa-trello"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-tumblr"><i class="fa fa-tumblr"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitch"><i class="fa fa-twitch"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-vimeo"><i class="fa fa-vimeo-square"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-vine"><i class="fa fa-vine"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-vk"><i class="fa fa-vk"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-wechat"><i class="fa fa-wechat"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-wordpress"><i class="fa fa-wordpress"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-xing"><i class="fa fa-xing"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-yahoo"><i class="fa fa-yahoo"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-yelp"><i class="fa fa-yelp"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a>
                <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
            </div>

         </div>
    </div>

{% endblock %}