{% extends 'blog/base/base_blog.html' %}
{% load static %}
{% block title %}
    <title>Portfolio</title>
{% endblock %}

{% block blog_content %}


    <!-- Portfolio Section -->
    {% for object in portfolio_list %}
    <!-- Bio Short Title-->
    <div>
        <label><img src="{{ MEDIA_URL }} {{ object.image.url }}" style="width: 250px;height: 350px" ></label>
        <label><h4><strong>{{ object.headline }}</strong></h4></label>
    </div>

    <!-- CSS link relation -->
    <link href="{% static 'blog/css/social-icon.css' %}" rel="stylesheet">

    <!-- Social Site Icon -->
    <div class="container">
       <div class="row">
        <br/><br/>
            <div class="col-md-12">
                <a href="https://www.facebook.com/prosenjit1994/" target="_blank" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://stackoverflow.com/users/6519334/prosenjit?tab=profile" target="_blank" class="btn-social btn-stack-overflow"><i class="fa fa-stack-overflow"></i></a>
                <a href="https://github.com/ProsenjitKumar" target="_blank" class="btn-social btn-github"><i class="fa fa-github"></i></a>
                <a href="https://plus.google.com/112864871797530852534" target="_blank" class="btn-social btn-google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.linkedin.com/in/prosenjit-kumar-37337111a/" target="_blank" class="btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.reddit.com/user/prosenjit1994" target="_blank" class="btn-social btn-reddit"><i class="fa fa-reddit"></i></a>
                <a href="https://twitter.com/kumarprosenjit1" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCMV-V1jyLz8sdva_tnsOvKA" target="_blank" class="btn-social btn-youtube"><i class="fa fa-youtube"></i></a>
            </div>
       </div>
    </div><br><br>

    <!-- My Goal or what i want to do -->
    <section class="blog-area section">

        <div class="container">
            <div class="row">

               <h4 style="padding-left: 47%"><strong>My Goal</strong></h4>
                <div>
                    <p>{{ object.goal }}</p>
                </div><br>
                <div>
                    <p>
                </p>
                </div>

            </div>
        </div>

    </section>
    {% endfor %}



    <!-- Skills Section -->
    <section class="blog-area section">

        <div class="container">
            <div class="row">

                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                <script type="text/javascript">

                window.onload = function () {
                    var chart = new CanvasJS.Chart("chartContainer", {
                        title:{
                            text: "Skills"
                        },
                        data: [
                        {
                            // Change type to "doughnut", "line", "splineArea", etc.
                            type: "column",
                            dataPoints: [
                                { label: "Python/Django",  y: 95  },
                                { label: "C/C++/Java",  y: 75  },
                                { label: "Docker", y: 85  },
                                { label: "Redis/Redux/NightShift", y: 68  },
                                { label: "AWS",  y: 78  },
                                { label: "Progressive Web Apps",  y: 89  },
                                { label: "SPA",  y: 68  },
                                { label: "Android Studio",  y: 50  },
                                { label: "Blockchain",  y: 80  },
                                { label: "Agile/Scrum/DevOps",  y: 81  },
                                { label: "Algorithm",  y: 66  },
                                { label: "Data Structure",  y: 71  },
                                { label: "Design Pattern",  y: 58  },
                                { label: "Restful API, GraphQL",  y: 48  },
                                { label: "PostGreSql, MySql, NoSql",  y: 84  },
                                { label: "Linux/Shell",  y: 88  },
                                { label: "ReactJS",  y: 62  },
                                { label: "Html5/css",  y: 60  },
                                { label: "TDD",  y: 52  },
                                { label: "Ansible",  y: 62  },
                                { label: "Celery/RabbitMQ",  y: 67  },
                                { label: "ORM(FlyWheel, SQLAlchemy)",  y: 44  },
                                { label: "Load test tool(Locust)",  y: 39  },
                                { label: "Web Service/SDK(Boto, DynamoDB, SQS)",  y: 65  },
                                { label: "PyQt5 & Designer",  y: 73  },
                            ]
                        }
                        ]
                    });
                    chart.render();
                }
                </script>
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>

            </div>

            <!--
            <div>
                Qualification:
                ±	Programming Language : Python(specialist), C/C++ and Java(Intermediate).
                ± 	Framework: Tkinter (Basic), PyQt5 and Kivy(Basic), Android Studio,
                ±	Web Back-end: Django(Pretty Advance), Node.js(beginner)
                ±	Web Front-end : HTML5, CSS3, Javascript, ReactJS.
                ±	Database: PostgreSQL, SQLite3 and MySql (Basic).
                ±	Git, GitHub, Gitlab, Vim, command-line interface, SSH.
                ±	Others(Beginner Level): Django Restful API, Django CMS, Django default ORM, 	PWA, SPA, TDD, Celery, RabbitMQ, Web Scraping, Web Crawler, Selenium, 	Docker, AWS, Blockchain, Design Pattern, Agile Methodology.
                ±	Operating system : Linux(Debian), Windows.
                ±	Tools: Pycharm, Netbeans, eclipse, QGis, VM.
                ±	Familiar With: GraphQL, Tensorflow, Pandas, Numpy, Matplotlib, Matlab.
            </div> -->

        </div>

    </section>


    <!-- Projects Section-->
    {% for object in projects_list %}
    <section class="blog-area section">

        <div class="container">
            <div class="row">

               <h4 style="padding-left: 47%"><strong>Projects</strong></h4>
                <div>
                    <p>{{ object.id }}. {{ object.name }}: {{ object.description }}
                        Source Code:
                        <a href="{{ object.source_code }}" target="_blank" class="btn-social btn-github"><i class="fa fa-github"></i></a>
                    </p>
                </div><br>
            </div>
        </div>

    </section>
    {% endfor %}

        <!-- Currently Working -->
    {% for object in current_position_list %}
    <section class="blog-area section">

        <div class="container">
            <div class="row">

                <h4 style="padding-left: 47%"><strong>Current Position</strong></h4><br>
                <p>{{ object.name }}</p>
                <p>{{ object.description }}</p>
                <p>{{ object.website }}</p>
                <p>{{ object.source_code }}</p>
                <p>{{ object.updated }}</p>

            </div>
        </div>

    </section>
    {% endfor %}

    <!-- Work Experience -->
    <section class="blog-area section">

        <div class="container">
            <div class="row">

                <h4 style="padding-left: 47%"><strong>Experience</strong></h4>

            </div>
        </div>

    </section>

    <!-- Educational -->
    <section class="blog-area section">

        <div class="container">
            <div class="row">

                <h4 style="padding-left: 47%"><strong>Educational Background</strong></h4>

                <div style="margin:0 auto;width:85%;text-align:left" class="card mb-3">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                  <thead>
                    <tr>
                        <th>Certification or Degree</th>
                      <th>Institution Name</th>
                      <th>Subject</th>
                      <th>Year</th>
                      <th>Result</th>
                      <th>Board</th>
                      <th>Last Session</th>
                    </tr>
                  </thead>

                  <tbody>

                        <tr>
                           <td>Secondary School Certificate (SSC)</td>
                          <td>Bahadurpur High School, Monirampur, Jessore.</td>
                          <td>Science.</td>
                          <td>2007-2012</td>
                           <td>3.94 out of 5.00</td>
                           <td>Jessore.</td>
                        </tr>

                        <tr>
                          <td>Higher Secondary School Certificate(HSC)</td>
                          <td>Khulna Islamia College, Khulna.</td>
                          <td>Science.</td>
                          <td>2012-2014.</td>
                           <td>3.50 out of 5.00</td>
                           <td>Jessore.</td>
                        </tr>

                        <tr>
                          <td>Bachelor of Science (Bsc)</td>
                          <td>North Western University, Bangladesh.</td>
                          <td>Computer Science & Engineering(CSE)</td>
                           <td>2016-2018 Uncompleted</td>
                          <td>3.94 out of 5.00</td>
                            <td></td>
                           <td>3 year 1 semester. </td>
                        </tr>

                  <tbody>



                </table>
              </div>
            </div>
          </div>




                </div>

            </div>
        </div>

    </section>

{% endblock %}