{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>
        {{ object.title }}
    </title>
    <link rel="icon" type="image/jpg" href="{% static 'blog/images/prosenjit.jpg' %}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="{% static 'blog/common-css/bootstrap.css' %}" rel="stylesheet">

	<link href="{% static 'blog/common-css/ionicons.css' %}" rel="stylesheet">


	<link href="{% static 'blog/single-post-1/css/styles.css' %}" rel="stylesheet">

	<link href="{% static 'blog/single-post-1/css/responsive.css' %}" rel="stylesheet">

</head>
<body >

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="#" class="logo"><img src="{% static 'blog/images/prosenjit.jpg' %}" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="{% url 'blog:home_blog' %}">Home</a></li>
				<li><a href="#">Categories</a></li>
				<li><a href="#">Features</a></li>
                <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
			</ul><!-- main-menu -->

			<div class="src-area">
				<form>
					<button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
					<input class="src-input" type="text" placeholder="Type of search">
				</form>
			</div>

		</div><!-- conatiner -->
	</header>



	<section class="post-area section">
		<div class="container">

			<div class="row">

				<div class="col-lg-8 col-md-12 no-right-padding">

					<div class="main-post">

						<div class="blog-post-inner">

							<div class="post-info">

								<div class="left-area">
									<a class="avatar" href="#"><img src="{% static 'blog/images/author_image.jpg' %}" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name" href="{% url 'portfolio' %}"><b>Prosenjit</b></a>
									<h6 class="date">{{ object.post_date }}</h6>
								</div>

							</div><!-- post-info -->

							<h3 class="title"><a href="#"><b>{{ object.title }}</b></a></h3>

							<p class="para">{{ object.description }}</p>


							<ul class="tags">
								<li><a href="#">Research</a></li>
								<li><a href="#">Science</a></li>
								<li><a href="#">Engineering</a></li>
								<li><a href="#">Technology</a></li>
							</ul>
						</div><!-- blog-post-inner -->

						<div class="post-icons-area">
							<ul class="post-icons">
								<li><a href="#"><i class="ion-heart"></i>57</a></li>
								<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
								<li><a href="#"><i class="ion-eye"></i>138</a></li>
							</ul
                            <strong><h6 class="date">Today's Date: {{ now|date }} {{ now|time }}</h6></strong>

						</div>


<!-- comment-area -->
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://prosenjit-das.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="https://prosenjit-das.disqus.com/count.js" async></script>
    <!-- comment-area ended -->


                        




					</div><!-- main-post -->
				</div><!-- col-lg-8 col-md-12 -->

				<div class="col-lg-4 col-md-12 no-left-padding">

					<div class="single-post info-area">

						<div class="sidebar-area about-area">
							<h4 class="title"><b>About Prosenjit</b></h4>
							<p>I'd like to become instrumental in helping my employer supersede the competition.
                                I'm interested in applying my creative talents to achieving innovative results.
                                My goal is to join a team that doesn't accept second-best status.</p>
						</div>

						<div class="sidebar-area subscribe-area">

							<h4 class="title"><b>SUBSCRIBE</b></h4>
							<div class="input-area">
								<form>
									<input class="email-input" type="text" placeholder="Enter your email">
									<button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
								</form>
							</div>

						</div><!-- subscribe-area -->

						<div class="tag-area">

							<h4 class="title"><b>Latest Posts</b></h4>
							<ul>
								<li><a href="#">Manual</a></li>
							</ul>

						</div><!-- subscribe-area -->

					</div><!-- info-area -->

				</div><!-- col-lg-4 col-md-12 -->

			</div><!-- row -->

		</div><!-- container -->
	</section><!-- post-area -->





	<section class="recomended-area section">
		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">


							<div class="blog-info">
								<h4 class="title"><a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex
									Concepts in Physics?</b></a></h4>

								<ul class="post-footer">
									<li><a href="#"><i class="ion-heart"></i>57</a></li>
									<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
									<li><a href="#"><i class="ion-eye"></i>138</a></li>
								</ul>
							</div><!-- blog-info -->

						</div><!-- single-post -->

					</div><!-- card -->
				</div><!-- col-md-6 col-sm-12 -->

			</div><!-- row -->

		</div><!-- container -->
	</section>



<footer>

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<a class="logo" href="#"><img src="{% static 'blog/images/prosenjit.jpg' %}" alt="Logo Image"></a>
						<p class="copyright">Blog @ 2017. All rights reserved.</p>
						<p class="copyright">Developed by <a href="http://prosenjit-das.herokuapp.com/portfolio/" target="_blank">Prosenjit Das</a></p>
						<ul class="icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
						<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						<ul>
							<li><a href="#">Engineering</a></li>
							<li><a href="#">Science</a></li>
							<li><a href="#">Research</a></li>
						</ul>
						<ul>
							<li><a href="#">Programming</a></li>
							<li><a href="#">AI</a></li>
							<li><a href="#">Technology</a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<h4 class="title"><b>SUBSCRIBE</b></h4>
						<div class="input-area">
							<form>
								<input class="email-input" type="text" placeholder="Enter your email">
								<button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
							</form>
						</div>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="{% static 'blog/common-js/jquery-3.1.1.min.js' %}"></script>

	<script src="{% static 'blog/common-js/tether.min.js' %}"></script>

	<script src="{% static 'blog/common-js/bootstrap.js' %}"></script>

	<script src="{% static 'blog/common-js/scripts.js' %}"></script>

</body>
</html>
