{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	{% block title %}

    {% endblock %}
    <link rel="icon" type="image/jpg" href="{% static 'blog/images/prosenjit.jpg' %}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="P5BNdNfgZKQNQNQjm9bARKMF16JQsysjRarxYmo7TX4" />


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="{% static 'blog/common-css/bootstrap.css' %}" rel="stylesheet">

	<link href="{% static 'blog/common-css/ionicons.css' %}" rel="stylesheet">


	<link href="{% static 'blog/layout-1/css/styles.css' %}" rel="stylesheet">

	<link href="{% static 'blog/layout-1/css/responsive.css' %}" rel="stylesheet">

	<!-- Google add -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9390573501304515",
        enable_page_level_ads: true
      });
    </script>

    <!-- Automatically smarter ads for AMP -->
    <script async custom-element="amp-auto-ads"
            src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics My website-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132425949-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-132425949-1');
	</script>


	<!-- Global site tag (gtag.js) - Google Analytics For Youtube-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132447393-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-132447393-1');
	</script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TTQ68DD');</script>
    <!-- End Google Tag Manager -->

	<!-- AdSense for Shopping Multiple Format
    https://developers.google.com/adsense-for-shopping/docs/code-generator-->
    <script async="async" src="https://www.google.com/adsense/search/ads.js"></script>
	<!-- other head elements from your page -->
	<script type="text/javascript" charset="utf-8">
	  (function(g,o){g[o]=g[o]||function(){(g[o]['q']=g[o]['q']||[]).push(
	  arguments)},g[o]['t']=1*new Date})(window,'_googCsa');
	</script>

</head>
<body >

<!-- Automatically smarter ads for AMP
    It usually takes 20 minutes for ads to appear on the page.-->
<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-9390573501304515">
</amp-auto-ads>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TTQ68DD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="{% url 'blog:home_blog' %}" class="logo"><img src="{% static 'blog/images/prosenjit.jpg' %}" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="{% url 'blog:home_blog' %}">Home</a></li>
                <li><a href="{% url 'blog:question_list' %}">Question</a></li>
                <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
			</ul><!-- main-menu -->

            <!-- search form -->
			<div class="src-area">
				<form method="get" action="">
					<button class="src-btn" type="submit" value='{{ request.GET.q }}'><i class="ion-ios-search-strong"></i></button>
					<input class="src-input" name='q' type="text" placeholder="Type of search">
				</form>
			</div>

		</div><!-- conatiner -->


	</header>

	{% block blog_content %}

    {% endblock %}

    <!-- ********* Google Add show ************** -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Right Sidebar -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9390573501304515"
         data-ad-slot="8622539363"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Homepage Left Bar -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9390573501304515"
         data-ad-slot="1079107177"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Prosenjit Das -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9390573501304515"
         data-ad-slot="1677872978"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- ********* Google Add show end************** -->

    <!-- ********* Google Custom Search************** -->
    <!--<script>
	  (function() {
	    var cx = '004910132774560929900:gui7t2tfzms';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:search></gcse:search>-->
	<!-- ********* Google Custom Search end************** -->

	<!-- AdSense for Shopping Multiple Format
    https://developers.google.com/adsense-for-shopping/docs/code-generator-->
	<div id="afshcontainer"></div>
	<script type="text/javascript" charset="utf-8">
	var pageOptions = {
	  "pubId" : "test pub-id",
	  "query" : "lcd television",
	  "adsafe" : "high",
	  "adtest" : "off",
	  "hl" : "en"
	};

	var afshBlock = {
	  "container" : "afshcontainer",
	  "width" : 500,
	  "height" : 400,
	};
	_googCsa("plas", pageOptions, afshBlock);
	</script>
	<!-- AdSense for Shopping end-->


	<footer>

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<a href="{% url 'portfolio' %}" class="logo"><img src="{% static 'blog/images/prosenjit.ico' %}" alt="Logo Image"></a>
						<p class="copyright">Blog @ 2017. All rights reserved.</p>
						<p class="copyright">Developed by <a href="http://prosenjit-das.herokuapp.com/portfolio/" target="_blank">Prosenjit Das</a></p>
						<ul class="icons">
							<li><a href="https://www.facebook.com/prosenjit1994/"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="https://twitter.com/kumarprosenjit1"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="https://www.instagram.com/prosenjit1994/"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="https://vk.com/prosenjit1994"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="https://www.pinterest.com/kumarprosenjit9/"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
						<div class="footer-section">
						<h4 class="title"><b>CATAGORIES</b></h4>
						<ul>
							<li><a href="#">Engineering</a></li>
							<li><a href="#">Science</a></li>
							<li><a href="#">Research</a></li>
						</ul>
						<ul>
							<li><a href="#">Programming</a></li>
							<li><a href="#">AI</a></li>
							<li><a href="#">Technology</a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

                <!-- ********* Google Add show ************** -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="+15+qq+2u+a-3o"
                     data-ad-client="ca-pub-9390573501304515"
                     data-ad-slot="8838818321"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
			</div><!-- row -->
		</div><!-- container -->



	</footer>

	<!-- SCIPTS -->

	<script src="{% static 'blog/common-js/jquery-3.1.1.min.js' %}"></script>

	<script src="{% static 'blog/common-js/tether.min.js' %}"></script>

	<script src="{% static 'blog/common-js/bootstrap.js' %}"></script>

	<script src="{% static 'blog/common-js/scripts.js' %}"></script>

</body>
</html>
